python==3.8.8*
APScheduler==3.11.0
backports.zoneinfo==0.2.1
blinker==1.8.2
click==8.1.8
et_xmlfile==2.0.0
Flask==3.0.3
gunicorn==23.0.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
numpy==1.24.4
openpyxl==3.1.5
packaging==24.2
pandas==2.0.3
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
tzdata==2025.1
tzlocal==5.2
Werkzeug==3.0.6
zipp==3.20.2
